img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.a {
    position: fixed;
    top: 200px;
    left: 700px;
}
.b {
    position: sticky;
    top: 50px;
    left: 150px;
}
.c {
    positio
}
