/* universal selector*/
* {
    font-size: normal;
    margin: 10px;
}
/* type selector*/

body {
    color: rgb(255, 39, 19);
    background-color: rgb(74, 73, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* class selector*/
.first {
    color: #f79f08;
}
/*id selector */
#eklist {
    background-color: rgb(151, 127, 18);
}
.large {
    font-size: 30px;
}
/* attribute selector */
a[href="https://www.google.com"] {
    color: red;
    text-decoration: none;
}
input[type="text"]{
    background-color: yellow;
}

/* pseudo selector*/
.first:hover {
    color:white ;
}